* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    height: 100vh;
    width: 100vw;
    background: url(blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* -webkit-filter: blur(50px); */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

h1 {
    font-family: poppins;
    font-weight: 300;
}

#profile-image {
    background: url(./nikhil.png);
    filter: grayscale(100%);
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 1rem 0;
}

main svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 2rem 0;
}

.card img {
    height: 60px;
    width: 60px;
    margin: 5px;

}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #fcfaf9;
    width: 80vw;
    max-width: 50rem;
    margin: 20px;
    font-family: poppins;
    font-size: larger;
    border-radius: 6px;
    box-shadow:
        1.6px 1.6px 4.9px -4px rgba(0, 0, 0, 0.1),
        4.3px 4.2px 11.7px -4px rgba(0, 0, 0, 0.081),
        8.8px 8.7px 22px -4px rgba(0, 0, 0, 0.079),
        17.1px 16.9px 39.3px -4px rgba(0, 0, 0, 0.077),
        35.3px 34.9px 73.5px -4px rgba(0, 0, 0, 0.074),
        100px 99px 176px -4px rgba(0, 0, 0, 0.063);
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#x-icon svg {
    width: 40px;
    height: 40px;
}

p {
    font-weight: 500;
}

/* @media screen and (max-width:720px) {
    .card{
        width: 20rem;
    }
} */